<ion-modal-view>
	<ion-header-bar class="bar-dark">
  		<h1 class="title">Forgot Password</h1>
   		<button class="button button-clear button-positive" ng-click="closeForgot()">
   		<i class="ion-android-close"></i></button>
   	</ion-header-bar>
	<ion-content padding="true">
		<div class="card" ng-if="errormsg">
		  <div class="item item-text-wrap">{{errormsg}}</div>
		</div>
		<div class="card" ng-if="successmsg">
		  <div class="item item-text-wrap">{{successmsg}}</div>
		</div>
		<form name="resetPass" ng-submit="makeReset(resetPass)" novalidate>
			<ion-list>
				<ion-item class="item item-input item-floating-label">
		    		<span class="input-label">Enter E-mail Address here</span>
		    		<input type="email" placeholder="Enter E-mail Address here" required/>
		  		</ion-item>
		  	</ion-list>
	  		<button class="button button-block button-energized" type="submit">Reset Password</button>
	  	</form>
	</ion-content>
</ion-modal-view>
